= simple_form_for [dwelling_item, comment] do |f|
  .comment-speech-box
    = f.input_field :body, rows: 1, :id => 'comment-input'
    = f.submit "Comment", :class => "submit-comment-button btn btn-inverse"
  = f.error :body
