= simple_form_for @user, :url => picture_settings_user_path(@user), :html => {:multipart => true, :accept => "image/gif,image/png,image/jpg"} do |f|

  %h5 Current Picture
  =profile_picture_tag(current_user)
  %h5 Upload a New Photo
  .control
    = f.file_field :upload
  .control
    = f.button :submit

