= simple_form_for @user, url: profile_settings_user_path(@user), :html => {:class => 'form-horizontal'} do |f|
  = render 'users/profile_form', f: f
  .control-group
    .controls
      = f.submit 'Save'

