= simple_form_for @user, url: settings_account_user_path(@user), :html => {:class => 'form-horizontal'} do |f|
  = render 'users/account_form', f: f

  .control-group
    .controls
      = f.button :submit
